
body {
    background: #de9c9c;
    transition: all .5s ease;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title span {
    font-size: 2.5em;
    font-weight: bold;
    margin: 2em 0;
    transition: all .5s ease;
}

.clock {
    height: 320px;
    width: 320px;
    /* background-color: rgb(178 114 125 / 94%); */
    background-color: rgb(93 17 30);
    backdrop-filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

img {
    opacity: 0.6;
}

.hand {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    transform-origin: bottom;
}

.hour {
    height: 60px;
    width: 10px;
    top: 100px;
    left: 4px;
    /* background: #ff0000; */
}

.minute {
    height: 80px;
    width: 5px;
    top: 80px; 
    left: 6px;
    /* background: rgba(212, 109, 109, 0.514) ; */
}

.seconds {
    height: 90px;
    width: 3px;
    top: 70px;
    /* background: darkred ; */
}

.round-center {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    top: 152px;
    left: 6px;
    background: #fff;
}

a {
    font-family: "Poppins", sans-serif ;
    font-weight: 500;
    position: absolute;
    right: 20px;
    top: 20px;
    border: 3px solid #fff;
    border-radius: 5px;
    text-decoration: none;
}

a > .fa {
    color: #ff0000;
}

@media screen and (min-width: 451px) {

    a {
        font-size: 18px;
        padding: 8px 12px 8px 12px;
    }
    body {
        background: #c9b929;
        transition: all .5s ease;
    }

}

@media screen and (max-width: 450px) {
    a {
        font-size: 12px;
        padding: 5px 8px 5px 8px;
    }

}


